# SQLAlchemy PostgreSQL Setup

- Tutorials:
https://www.compose.com/articles/using-postgresql-through-sqlalchemy/

## Import Libraries

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
from dotenv import load_dotenv
dotenv = load_dotenv()

### Base / Engine / Session Stuffs
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.inspection import inspect
from sqlalchemy.sql.schema import PrimaryKeyConstraint
from sqlalchemy.schema import CreateSchema

### DB Fields
from sqlalchemy import (
    Column,
    String,
    Integer,
    ForeignKey,
    DateTime,
    Float,
)

## Read API Keys from .env

1. Create .env file at project level
2. In .env file, store hidden info as such:</br>
<Code> TELEGRAM_TOKEN = 'Test' </Code>

In [2]:
# Retrieve info from .env
TOKEN = os.getenv("TELEGRAM_TOKEN")
TOKEN

'test'

## Helper Functions to work with data in SQLAlchemy / Pandas

In [3]:
# Session, Engine
def session_engine_from_connection_string(conn_string):
    '''
    Takes in a DB Connection String
    Return a tuple: (session, engine)

    e.g. session, engine = session_engine_from_connection_string(string)
    '''
    engine = create_engine(conn_string)
    Base.metadata.bind = engine
    DBSession = sessionmaker(bind=engine)
    return DBSession(), engine

# Convert DF into Table Objects
def convert_df_to_lst_of_table_objects(df, Table):
    '''
    Takes in a dataframe (each column name aligned to a DB table's column name)
    and convert it into a list of Table objects
    '''
    return [Table(**{k: v for k, v in row.items() if not np.array(pd.isnull(v)).any()}) for row in df.to_dict("records")]

In [4]:
Base = declarative_base()

## Tables Setup

In [5]:
table_names = {
    "property": "property",
    "region": "region"
}

In [6]:
class Property(Base):
    __tablename__ = "property"

    address = Column(String)
    price = Column(Float)
    region_id = Column(Integer, ForeignKey(table_names["region"] + ".id"))
    region = relationship("Region")
    data_dt = Column(DateTime)
    __table_args__ = (
        PrimaryKeyConstraint(address, data_dt),
    )

class Region(Base):
    __tablename__ = "region"

    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String)

## Create Schema

Add into .env:</br>
<Code> POSTGRESQL_CONNECTION_STRING = 'postgresql://User:Password@hostname:portnum/database' </Code>

In [7]:
POSTGRESQL_CONNECTION_STRING = os.getenv("POSTGRESQL_CONNECTION_STRING")

In [8]:
# create session and engine
session, engine = session_engine_from_connection_string(POSTGRESQL_CONNECTION_STRING)

conn = engine.connect()

# tables to be created
table_objects = [
    Property.__table__,
    Region.__table__
]

# Drop All Tables
Base.metadata.drop_all(engine, table_objects)

# Create All Tables
Base.metadata.create_all(engine, table_objects)
# session.close()

## Basic Usage of SQLAlchemy

### Data Upload

#### SQL Statement

In [9]:
statement_1 = "INSERT INTO region (name) \
            VALUES ('SOUTH-WEST')"

statement_2 = "INSERT INTO property (address, price, region_id, data_dt) \
            VALUES ('NUS', 5, 1, CURRENT_DATE)"

In [10]:
session.execute(statement_1)
session.execute(statement_2)
session.commit()

#### Pandas Statement

In [11]:
df_region = pd.DataFrame({
    "name": ["NORTH-EAST", "NORTH-WEST", "SOUTH-EAST"]
})

df_region

         name
0  NORTH-EAST
1  NORTH-WEST
2  SOUTH-EAST

In [12]:
region_obj = convert_df_to_lst_of_table_objects(df_region, Region)
region_obj

[<__main__.Region at 0x7fc90877efa0>,
 <__main__.Region at 0x7fc90877ef10>,
 <__main__.Region at 0x7fc8fa26bc40>]

In [13]:
session.add_all(region_obj)
session.commit()

### Data Query

#### Pure SQL

In [14]:
sql_1 = "SELECT * \
        FROM region \
        WHERE name IN ('SOUTH-WEST', 'SOUTH-EAST')"

#### SQLAlchemy

In [15]:
queryset_1 = session.query(
                Region
            ).filter(
                Region.name.in_(['SOUTH-WEST', 'SOUTH-EAST'])
            )

#### Query From Engine (Session)

In [16]:
query = session.execute(queryset_1.statement)
query

In [17]:
for r in query:
    print(r)
    print(r[0].name)

(<__main__.Region object at 0x7fc8fa48a130>,)
SOUTH-WEST
(<__main__.Region object at 0x7fc8fa26bc40>,)
SOUTH-EAST

#### Query From Pandas

In [18]:
pd.read_sql(sql_1, session.bind)

   id        name
0   1  SOUTH-WEST
1   4  SOUTH-EAST

In [19]:
pd.read_sql(queryset_1.statement, session.bind)

   id        name
0   1  SOUTH-WEST
1   4  SOUTH-EAST

## Close Session

In [20]:
session.close()